<a href="https://pypodcats.live/episodes/index.xml"><img src="{{`/images/rss_icon.png` | relLangURL}}" title="Subscribe to our Podcast" alt="Subscribe to our Podcast" class="podcast-icon"/></a>
<a href="https://podcasts.apple.com/ca/podcast/hidden-figures-of-python-podcast/id1720808525"><img src="{{`/images/ios_podcast.png` | relLangURL}}" title="Listen on Apple Podcast" alt="Listen on Apple Podcast" class="podcast-icon"/></a>
<a href="https://www.youtube.com/playlist?list=PLFIcqSiijitiLEA3qxumx_ba2LNdd_sgs"><img src="{{`/images/youtube_icon.png` | relLangURL}}" title="Listen on YouTube Podcasts"  alt="Listen on YouTube Podcasts" class="podcast-icon"/></a>
<a href="https://open.spotify.com/show/0paWD9BHs7QNNHsMFFUoIN?si=e6e455a0c3a244fd"><img src="{{`/images/spotify_icon.png` | relLangURL}}" title="Listen on Spotify"  alt="Listen on Spotify" class="podcast-icon"/></a>


