<a href="https://pypodcats.live/episodes/index.xml"><img src="{{`/images/rss_icon.png` | relLangURL}}" alt="Subscribe to our Podcast" class="podcast-icon"/></a>
<a href="https://podcasts.apple.com/ca/podcast/hidden-figures-of-python-podcast/id1720808525"><img src="{{`/images/ios_podcast.png` | relLangURL}}" alt="Listen on Apple Podcast" class="podcast-icon"/></a>
<a href="https://podcasts.google.com/feed/aHR0cHM6Ly9tZWRpYS5yc3MuY29tL3B5cG9kY2F0cy9mZWVkLnhtbA"><img src="{{`/images/google_podcasts_icon.png` | relLangURL}}" alt="Listen on Google Podcasts" class="podcast-icon"/></a>
<a href="https://open.spotify.com/show/0paWD9BHs7QNNHsMFFUoIN?si=e6e455a0c3a244fd"><img src="{{`/images/spotify_icon.png` | relLangURL}}" alt="Listen on Spotify" class="podcast-icon"/></a>


