<h2 id="stay-in-touch-and-support-the-python-community">Stay in touch and support the Python Community</h2>

<ul>
  <li>Subscribe to our podcast RSS feed: <a href="https://pypodcats.live/episodes/index.xml" target="_blank">https://pypodcats.live/episodes/index.xml</a>
  </li>
  <li>Follow us on Twitter: <a href="https://twitter.com/pypodcats" target="_blank">https://twitter.com/pypodcats</a>
  </li>
  <li>Follow us on Mastodon: <a href="https://fosstodon.org/@pypodcats" target="_blank">https://fosstodon.org/@pypodcats</a>
  </li>
  <li>Follow us on Bluesky: <a href="https://bsky.app/profile/pypodcats.live" target="_blank">https://bsky.app/profile/pypodcats.live</a>
  </li>
  <li>Subscribe to The PSF YouTube: <a href="https://youtube.com/@thepsf" target="_blank">https://youtube.com/@thepsf</a>
  </li>
  <li>Contact us: <a href="mailto:meow@pypodcats.live">meow@pypodcats.live</a>
  </li>
</ul>

