// Add your own custom styles here

/* Light mode header */
.header {
    background: #e4e7e2;
    padding-bottom: 0.5rem;
}

/* Light mode body */
body {
	background: url('/images/light-bg.jpg') no-repeat center center fixed;
	background-size: cover;
}


/* Light mode footer */
.bg-theme-light {
    background: #e4e7e2;
}


/* Dark mode body */
:is(.dark body) {
	background: url('/images/dark-bg.jpg') no-repeat center center fixed;
	background-size: cover;
}

.podcast-icon {
  display: inline-block;
}
