// Add your own custom styles here

/* Light mode header */
.header {
    background: #e4e7e2;
    padding-bottom: 0.5rem;
}

/* Light mode body */
body {
	background: url('/images/light-bg.jpg') no-repeat center center fixed;
	background-size: cover;
}

.content {
  --tw-prose-pre-code: #374151;
}

/* Light mode footer */
.bg-theme-light {
    background: #e4e7e2;
}


/* Dark mode body */
:is(.dark body) {
	background: url('/images/dark-bg.jpg') no-repeat center center fixed;
	background-size: cover;
  .content {
  --tw-prose-pre-code: #e5e7eb;
}
}

.podcast-icon {
  display: inline-block;
}

.footer-icons {
  @apply space-x-4;
  li {
    @apply inline-block;
    a {
      @apply bg-primary  flex h-9 w-9 items-center justify-center rounded text-center leading-9 ;
      svg {
        @apply h-5 w-5;
      }
    }
  }
}


