<footer class="bg-theme-light dark:bg-darkmode-theme-light">
  <div class="container">
    <div class="row items-center py-10">
      <div class="lg:col-3 mb-8 text-center lg:mb-0 lg:text-left">
        <!-- navbar brand/logo -->
        <a
          class="navbar-brand inline-block"
          href="{{ site.BaseURL | relLangURL }}">
          {{ partial "logo" }}
        </a>
      </div>
      <div class="lg:col-6 mb-8 text-center lg:mb-0">
        <ul>
          {{ range site.Menus.footer }}
            <li class="m-3 inline-block">
              <a
                {{ if findRE `^http` .URL }}
                  target="_blank" rel="noopener"
                {{ end }}
                href="{{ if findRE `^#` .URL }}
                  {{ if not $.IsHome }}
                    {{ site.BaseURL | relLangURL }}
                  {{ end }}{{ .URL }}
                {{ else }}
                  {{ .URL | relLangURL }}
                {{ end }}"
                >{{ .Name }}</a
              >
            </li>
          {{ end }}
        </ul>
      </div>
      <div class="lg:col-3 mb-8 text-center lg:mb-0 lg:mt-0 lg:text-right">
        <ul class="social-icons">
          {{ range site.Data.social.main }}
            <li>
              <a
                target="_blank"
                aria-label="{{ .name }}"
                rel="nofollow noopener"
                href="{{ .link | safeURL }}">
                <i class="{{ .icon }}"></i>
              </a>
            </li>
          {{ end }}
        </ul>
        <ul class="footer-icons my-5">
          <li><a href="https://pypodcats.live/episodes/index.xml"><img src="{{`/images/rss_icon.png` | relLangURL}}" title="Subscribe to our Podcast" alt="Subscribe to our Podcast" class="podcast-icon"/></a>
</li>
          <li><a href="https://podcasts.apple.com/ca/podcast/hidden-figures-of-python-podcast/id1720808525"><img src="{{`/images/ios_podcast.png` | relLangURL}}" title="Listen on Apple Podcast" alt="Listen on Apple Podcast" class="podcast-icon"/></a>
</li>
          <li><a href="https://www.youtube.com/playlist?list=PLaDaF4VvYM2B7_mcWmTe9jL1zpi0q-p1E"><img src="{{`/images/youtube_icon.png` | relLangURL}}" title="Listen on YouTube Podcasts"  alt="Listen on YouTube Podcasts" class="podcast-icon"/></a>
</li>
          <li><a href="https://open.spotify.com/show/0paWD9BHs7QNNHsMFFUoIN?si=e6e455a0c3a244fd"><img src="{{`/images/spotify_icon.png` | relLangURL}}" title="Listen on Spotify"  alt="Listen on Spotify" class="podcast-icon"/></a>
</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="border-border dark:border-darkmode-border border-t py-7">
    <div class="text-light dark:text-darkmode-light container text-center">
      <p>
        {{ site.Params.copyright | markdownify }}
      </p>

    </div>
  </div>
</footer>
